.noto-serif{
    font-family: "Noto Serif", serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.latest-deal-img-1{
border-radius: 14px;
background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("deal-bloom.png");
background-size: cover;    
}
.latest-deal-img-2{
border-radius: 14px;
background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("deal-ana.png");
background-size: cover;
}
.latest-deal-img-3{
border-radius: 14px;
background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("deal-zabo.png");
background-size: cover;
}
.join{
    background-image: url(news-letter-bg.png);
    background-size: cover;
}
@keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 3s linear infinite;
  }


@import "tailwindcss";
